.module {
  width: 300px;
  position:fixed;
  bottom:0;
  right:0;
}

.top-bar {
  background: #666;
  color: white;
  position: relative;
  overflow: hidden;
}
.top-bar h1 {
  display: inline;
}
.top-bar .typicons-minus {
  position: relative;
  top: 3px;
}
.top-bar .title {
  padding: 0px 0px 0px 10px;
  text-transform: capitalize;
}
.top-bar .right {
  float: right;
  padding-top: 5px;
}
.top-bar > * {
  position: relative;
}
.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(#ffffff, #000000);
/*  animation: pulse 1s ease alternate infinite;
*/}
.chat-users-icon{
    padding: 0px 0px 0px 10px;
    font-size: 150%;
}
.chat-options{
  width:100%;
  height:26px;
  background-color:#e5e5e5;
}
.chat-area{
  width:100%;
  background-color:blue;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}