<div>
    <div ng-repeat="(key, value) in ctrl.ChatWindowService.chatWindows" class="module">
        <div class="top-bar" ng-click="value.chatOpen = !value.chatOpen">
            <h4 class="pull-left title">{{key}}</h4>
            <div class="pull-right">
                <span class="icon typicons-minus" ng-click="value.chatOpen = !value.chatOpen"></span>
                <span class="icon typicons-times"></span>
            </div>
        </div>
        <div ng-show="value.chatOpen" class="chat-options">
            <div class="chat-users-icon glyphicon glyphicon-user" ng-click="value.showList = !value.showList"></div>
        </div>
        <chat-log ng-show="value.chatOpen && !value.showList"></chat-log>
        <chat-users ng-show="value.chatOpen && value.showList"></chat-users>
    </div>
</div>